/* Custom Card Hover Effect */
.md-typeset .grid.cards > :is(ul, ol) > li:hover {
  border-color: var(--md-primary-pygments-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transform: translateY(-2px);
  transition: all 0.3s;
}

/* Custom icon color for cards */
.md-typeset .grid.cards :material-clock-fast {
  color: #3f51b5;
}
